.view {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    :global(.i-tab-navs-container) {
        border-radius: 0;
    }
}

.pane {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pane {
    :global(.i-tabs) {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
        gap: 0;
    }
    :global(.i-tab-content) {
        height: 100%;
        overflow: auto;
    }
}

@keyframes contextMenuIn {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contextMenu {
    min-width: 132px;
    font-size: 14px;
    box-shadow: var(--shadow);
    background-color: var(--background-opacity);
    backdrop-filter: blur(12px);
    border-radius: var(--radius);
    padding: 4px 0;
    animation: contextMenuIn 0.12s ease-out;
    :global(.i-list-item) {
        margin-inline: 4px;
    }
}

.divider {
    margin: 4px 0;
    height: 1px;
    flex-shrink: 0;
    background-color: var(--background-opacity-1);
}
