.view {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    :global(.i-tab-navs-container) {
        border-radius: 0;
    }
}

.pane {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pane {
    :global(.i-tabs) {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
        gap: 0;
    }
    :global(.i-tab-content) {
        height: 100%;
        overflow: auto;
    }
    :global(.i-tab-nav) {
        min-width: 4em;
        padding: 8px 12px;
    }
    :global(.i-tab-active.i-tab-nav) {
        font-weight: 500;
    }
}

@keyframes contextMenuIn {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contextMenu {
    min-width: 132px;
    box-shadow: var(--shadow);
    background-color: var(--background-opacity);
    backdrop-filter: blur(12px);
    animation: contextMenuIn 0.12s ease-out;
    border: 1px solid var(--background-opacity-2);
}
